.body{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 80px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}
.connexion{
    background-color: rgba(73, 160, 3, 0.87) !important;
    border-color:rgba(73, 160, 3, 0.87) !important ;

}
.text-center a{
    color:rgba(73, 160, 3, 0.87) !important ;
}
body {
    padding-top: 56px;
  }
  .navbar{
    background-color: #77476d;
  }
  .user{
    border-radius: 35%;
    width: 100%;
    height: 100%;
  }